* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    line-height: 1.7em;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

a {
    color: #3a949f;
}

.utility {
    display: flex;
    justify-content: end;
    padding: .5rem 1rem;
}
.utility__items {
    margin: 0;
}
.utility__items li {
    list-style: none;
}

.banner {
    padding: 0 2rem 15rem;
    background-image: url(/assets/images/banner-background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 90vw;
    max-width: 1300px;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-areas: "title       ."
                         "headline    ."
                         "description ."
                         "nav         .";
}
@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
    .banner {
        grid-template-areas: "title"
                             "headline"
                             "description"
                             "nav"
                             ".";
        grid-template-columns: 1fr;
    }
}

.banner__title {
    grid-area: title;
    margin: 0;
    line-height: 1.3em;
    font-size: 3.5rem;
}
.banner__headline {
    grid-area: headline;
    margin: 0 0 1rem;
    line-height: 1.4em;
}
.banner__description{
    grid-area: description;
    margin: 0;
}
.banner__nav {
    grid-area: nav;
}


.section {
    padding: 5rem;
}
.section:nth-child(odd) {
    background-color: #b4d5d8;
}
.section__list {
    column-count: 3;
    padding: 0;
}
.section__list li {
    list-style: none;
    margin-bottom: 1rem;
}

@media (max-width: 640px) {
    .section {
        padding: 1.5rem 1rem;
    }
    .section__list {
        column-count: 1;
    }
}



.footer {
    background-color: #3a4748;
    color: white;
    text-align: center;
    padding: 1rem .5rem;
    margin-top: 1.5rem;
}
.footer a {
    color: white;
}